.container {
 display: inline-block;
    background-color: beige;
    border: 5px solid black;
    width: 200px;
    height: 200px;
    position: relative;
}
.block {
    width: 100px;
    height: 100px;
    background-color: aqua;
    color: aquamarine;
    font-size: 30px;

    position: absolute;
}
.block--1 {
    background-color: darkred;
    top: 0;
    left: 0;
}
.block--2 {
    background-color: brown;
    top: 0;
    left: 100px;
}
.block--3 {
    background-color: blue;
    top: 100px;
    left: 0;
}
.block--4 {
    background-color: olive;
    top: 100px;
    left: 100px;
}